* {
	color: white;
}

hr {
	border-width: 1px;
	border-color: white;
}

.font-size-20 {
	font-size: 20pt;
}

.font-size-30 {
	font-size: 30pt;
}

.intro-img-shadow {
	box-shadow: 1px 1px 500px 300px rgba(0, 153, 255, 0.75);
}
